@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  body {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
      45deg,
      var(--c1),
      var(--c2),
      var(--c3),
      var(--c4),
      var(--c5),
      var(--c4),
      var(--c3),
      var(--c2),
      var(--c1)
    );
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }


  #tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  }
  
  .tile {
    cursor: pointer;
    position: relative;
  }
  
  .tile:hover:before {
    background-color: rgb(30, 30, 30);
  }
  
  .tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
  }